<!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

body {
          background-image:  url(bg.jpg) ;
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-color: lightblue;
          font-family: "Georgia";
        }
form{
        text-align:center;
        margin: 30px 30px 30px 30px;
        font-family: bold;
        font-size:1 em;

     }
 p{
 text-align:center;
 font-size: 1.2em;
}
