<!DOCTYPE html>
<html lang="en">
{%load static%}

<head>
    <meta charset="UTF-8">
    <title>CC Searcher</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <style>
    body {
        background-image:  url('static/bg.jpg') ;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-color: lightblue;
        background-size: cover;
        font-family: "Georgia";
    }
    form{
        text-align:center;
        margin: 30px 30px 30px 30px;
        font-family: bold;
        font-size:1 em;

    }
    p{
        text-align:center;
        font-size: 1.2em;
    }

    </style>

</head>
<body>

    <h3 style="text-align: center; color:green; margin:40px;"> Welcome to Codeforces Search Engine </h3>
    <br>
    <form action="entered" method="POST">
        {% csrf_token %}
        <input class = "col-9 form-group" type="text" placeholder="Enter topic/contest rating...." name="query">

        <input class = "btn-secondary " type="submit">
    </form>
    <br>
    {% block content %}
    {% endblock %}
</body>
</html>